<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true">
	<include
		resource="org/springframework/boot/logging/logback/base.xml" />

	<!-- The FILE and ASYNC appenders are here as examples for a production 
		configuration -->

	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>auth.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>90</maxHistory>
		</rollingPolicy>
		<encoder>
			<charset>utf-8</charset>
			<Pattern>%d %-5level [%thread] %logger{0}: %msg%n</Pattern>
		</encoder>
	</appender>

	<appender name="ASYNC"
		class="ch.qos.logback.classic.AsyncAppender">
		<queueSize>512</queueSize>
		<appender-ref ref="FILE" />
	</appender>

	<logger name="com.pgs" level="#logback.loglevel#" />


	<logger name="org.springframework" level="WARN" />
	<logger name="org.springframework.web" level="WARN" />
	<logger name="org.springframework.security" level="INFO" />
	<logger name="org.springframework.cache" level="WARN" />

	<logger name="io.grpc" level="OFF" />
    <logger name="sun.rmi" level="OFF" />
    <logger name="javax.management" level="OFF" />
    

	<contextListener
		class="ch.qos.logback.classic.jul.LevelChangePropagator">
		<resetJUL>true</resetJUL>
	</contextListener>


	<springProfile name="default,dev,prod">
		<root level="#logback.loglevel#">
			<appender-ref ref="ASYNC" />
		</root>
	</springProfile>
	
	<springProfile name="local,stg">
		<root level="#logback.loglevel#">
			<appender-ref ref="ASYNC" />
		</root>
	</springProfile>

</configuration>
